body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: none;
  text-transform: none;
}

.image-2 {
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.social-link {
  display: block;
  width: 70px;
  margin: 20px 20px 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  text-transform: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.social-flexbox {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 600px;
  margin: 30px 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.outside-flexbox {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1024px;
  min-height: 600px;
  margin: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.central-align-div {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  position: relative;
  left: -10px;
  width: 90px;
  margin-top: 16px;
  font-family: 'Josefin Sans', sans-serif;
  color: #f4f4f4;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.imagediv {
  position: relative;
}

.notify {
  position: absolute;
  top: -5px;
  right: -7px;
  z-index: 40;
  display: block;
  border-radius: 200px;
  background-color: #cf1616;
}

.scroll-arrow {
  position: fixed;
  left: 0px;
  bottom: 0px;
  margin-right: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.scroll-arrow.right {
  left: auto;
  right: 0px;
  bottom: 0px;
  display: none;
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -10;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e1e1e), to(#1e1e1e));
  background-image: linear-gradient(180deg, #1e1e1e, #1e1e1e);
}

.whitecircle {
  position: static;
  display: block;
}

.pencil {
  position: absolute;
  z-index: 30;
  margin-top: -50px;
  margin-left: -100px;
}

.shadow {
  position: absolute;
  z-index: 20;
}

.topboarderfake {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 500;
  padding-bottom: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#f4f4f4));
  background-image: linear-gradient(180deg, #f4f4f4, #f4f4f4);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .75);
}

.fakesideboarder {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 501;
  padding-left: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#f4f4f4));
  background-image: linear-gradient(180deg, #f4f4f4, #f4f4f4);
}

.fakeboarder2 {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 501;
  padding-right: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#f4f4f4));
  background-image: linear-gradient(180deg, #f4f4f4, #f4f4f4);
}

.bottomboarderfake {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 500;
  padding-bottom: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#f4f4f4));
  background-image: linear-gradient(180deg, #f4f4f4, #f4f4f4);
  box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, .75);
}

.text-block-2 {
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
  font-family: 'Josefin Sans', sans-serif;
  color: #f4f4f4;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 991px) {
  .social-link {
    margin: 15px;
  }
  .social-flexbox {
    width: 500px;
  }
  .outside-flexbox {
    margin-top: 100px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .social-flexbox {
    width: auto;
    max-width: 500px;
    margin-right: 42px;
    margin-left: 42px;
  }
  .outside-flexbox {
    margin-top: 50px;
  }
  .central-align-div {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .text-block {
    color: #fff;
  }
  .scroll-arrow {
    padding: 8px 10px;
    border-radius: 360px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: linear-gradient(180deg, #fff, #fff);
  }
  .scroll-arrow.right {
    padding: 8px 10px;
    border-radius: 360px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: linear-gradient(180deg, #fff, #fff);
  }
}

@media (max-width: 479px) {
  .social-flexbox {
    max-width: 300px;
    min-width: 200px;
    margin-right: 32px;
    margin-left: 32px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .outside-flexbox {
    position: absolute;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .central-align-div {
    position: absolute;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

